[submodule "vendor/ocluster"]
	path = vendor/ocluster
	url = https://github.com/ocurrent/ocluster
[submodule "vendor/ocurrent"]
	path = vendor/ocurrent
	url = https://github.com/ocurrent/ocurrent
[submodule "vendor/current-web-pipelines"]
	path = vendor/current-web-pipelines
	url = https://github.com/tarides/current-web-pipelines.git
	branch = ocurrent-6.3.0
